<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
	<meta charset="UTF-8">
	<title>Prediksi Cakalang</title>
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>

<body>
	<div class="login">
		<h1>Prediksi Hasil Tangkapan Ikan Cakalang</h1>

		<!-- Main Input For Receiving Query to our ML -->
		<form action="{{ url_for('predict')}}"method="post">
			<input type="text" name="variabel_input" placeholder="Suhu Permukaan Laut (Celcius)" required="required" />
			<input type="text" name="variabel_input" placeholder="Kadar Klorofil (miligram/meter kubik)" required="required" />
			<input type="text" name="variabel_input" placeholder="Arus Timur (meter/detik)" required="required" />
			<input type="text" name="variabel_input" placeholder="Arus Utara (meter/detik)" required="required" />
			<input type="text" name="variabel_input" placeholder="Angin Timur (meter/detik)" required="required" />
			<input type="text" name="variabel_input" placeholder="Angin Utara (meter/detik)" required="required" />
			<input type="text" name="variabel_input" placeholder="Besaran Kecepatan Angin (meter/detik)" required="required" />
			<input type="text" name="variabel_input" placeholder="Besaran Kecepatan Arus (meter/detik)" required="required" />
			<button type="submit" class="btn btn-primary btn-block btn-large">Prediksi</button>
		</form>
		<br>
		<br>
		{{ prediction_text }}
	</div>
</body>
</html>